.Aime {
  padding-top: 1rem;
  position: absolute;

  .Aime svg {
    font-size: 2rem;
  }

  .icone-aime {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .icone-aime:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
