.Comic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  position: relative;
  font-family: "Indie Flower", cursive;
  .images-comic {
    width: 100%;
    max-width: 45rem;
    border: 2px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    & > * {
      // styles pour tous les enfants de .images-comic
      width: 100%;
    }
  }
}
